.right{
    display: flex;
    justify-content: flex-end;

}
.container{
    max-width: 900px;
}
.math{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background: rgba(0,0,0,0);
  //text-decoration: none;
}
