<nav class="navbar bg-dark">
    <h2 [routerLink]="['/']">Online Shop</h2>

    <ul>
        <li routerLinkActive="active">
            <a (click)="setType('Phone')">Phone</a>
        </li>
        <li routerLinkActive="active">
            <a (click)="setType('Tablet')">Tablet</a>
        </li>
        <li routerLinkActive="active">
            <a (click)="setType('Laptop')">Laptop</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/cart']">Cart <span class="right-top" *ngIf="totalPrice>0">{{totalPrice}} $</span></a>
        </li>
    </ul>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
