<form [formGroup]='form' (ngSubmit)='submit()'>
<h2>Login as Admin</h2>
<div class="form-control">
    <label for="email">email</label>
    <input type="email" id="email" formControlName="email" autocomplete="on">  
    <div *ngIf="form.get('email').touched && form.get('email').invalid" class='validation'>
        <small *ngIf="form.get('email').errors.required"> Enter Email</small>
        <small *ngIf="form.get('email').errors.email"> Enter valid email </small>

    </div>
</div>
<div class="form-control">
    <label for="password">password</label>
    <input type="password" id="password" formControlName="password" autocomplete="on">  
    <div *ngIf="form.get('password').touched && form.get('password').invalid">
        <small *ngIf="form.get('password').errors.required"> Enter Password</small>
        <small *ngIf="form.get('password').errors.minlength"> Password must be at least {{form.get('password').errors.minlength.requiredlength}} characters.
            Now he {{form.get('password').errors.minlength.actualLength}} </small>

    </div>
</div>
<button type="submit" class='btn btn-primary btn-block' [disabled]="form.invalid||submitted">Logon</button>
</form>